<header class="header">
    <div class="header__container">
        <div class="header__nav-logo">
            <div class="header__nav">
                <span class="header__home-link">home</span>
                <span class="header__shopping-link">shopping list</span>
            </div>
        </div>
        <div class="header__right-side">
            <button type="button" class="header__log-in"></button>
            <button type="button" class="header__burger-open"></button>
        </div>
    </div>
</header>