<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="./index.html" class="header-link link">
        <svg class="header-logo">
          <use href="./img/header/logo-light.svg#icon-logo"></use>
        </svg>
        <span class="header-logo-word">bookshelf</span>
      </a>

      <ul class="header-list list">
        <li class="header-item">
          <a href="./index.html" class="nav-list-btn link" data-page="home">
            home
          </a>
        </li>
        <li class="header-item">
          <a
            href="./shopping-list-page.html"
            class="nav-list-btn link"
            data-page="shopping-list"
          >
            shopping list
            <svg class="shopping-list-svg" width="20" height="20">
              <use href="./img/header/logo-light.svg#icon-cart-fill"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="header-theme-switcher">
      <label class="switcher header-switcher">
        <input class="switcher-input" id="theme-switcher" type="checkbox" />
        <span class="switcher-slider"></span>
      </label>

      <button type="button" class="header-menu-login">
        <img src="./img/header/user.svg" alt="" width="37" height="37" />
        <span class="user-text">Hello</span>
      </button>

      <button
        class="header-burger"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        data-menu-button
      >
        <svg class="icon-burger" width="28" height="28">
          <use
            class="icon-burger-open"
            href="./img/icons/symbol-defs.svg#icon-burger-menu"
          ></use>
          <use
            class="icon-burger-close"
            href="./img/icons/symbol-defs.svg#icon-x-close"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</header>
