<header class="header">
  <div class="header__container">
    <div class="header__nav-logo">
      <a href="#header" class="header__link">
        <svg class="header__logo">
          <use href="./img/header/logo-light.svg#icon-logo"></use>
        </svg>
        <span class="header__logo-word">bookshelf</span>
      </a>

      <div class="header__nav">
        <a href="#header" class="nav__list-home current">
          <span class="header__nav-link">home</span>
        </a>
        <a href="#shopping-list-page" class="nav__list-home">
          <span class="header__nav-link">shopping list</span>
          <svg
            class="header__nav-icon shopping__list-svg"
            width="20px"
            height="20px"
          >
            <use href="./img/icons/symbol-defs.svg#icon-basket"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="header__theme-switcher">
      <label class="switcher header__switcher">
        <input class="switcher-input" id="theme-switcher" type="checkbox" />
        <span class="switcher-slider"></span>
      </label>

      <button type="button" class="header__menu-login">
        <img
          srcset="./img/header/stephen.png, ./img/header/stephen@2x.png"
          src="./img/header/stephen.png"
          alt="user"
          width="37"
        />
        <span>Hello</span>
      </button>

      <button class="header__burger--open" aria-expanded="false" type="button">
        <svg class="icon__burger--open" width="28px" height="28px">
          <use href="./img/icons/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
