<!-- <style>
  .js-call-menu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
  }
</style> -->
<!-- <a href="#" class="js-call-menu">Menu</a> -->

<div class="mobile-menu" id="mobile-menu" data-menu>
  <div class="user-info">
    <img src="img/header/stephen.png" srcset="img/header/stephen@2x.png 2x" alt="" class="user-info-img" width="37"
      height="37" />
    <span class="user-info-login">Hello</span>
  </div>

  <ul class="mobile-menu-nav">
    <li class="mobile-menu-nav-li">
      <a href="index.html" class="btn mobile-menu-nav-btn nav-list-home">Home</a>
    </li>
    <li class="mobile-menu-nav-li">
      <a href="shopping-list-page.html" class="btn btn-link btn-link-shopping-list mobile-menu-nav-btn nav-list-home">
        Shopping list
        <svg class="icon icon-bag">
          <use href="./img/icons/symbol-defs.svg#icon-bag"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>