<div class="backdrop is-hidden" id="js-backdrop">
  <div class="modal-window">
    <button class="modal-close-btn">
      <svg class="modal-close-icon" width="12" height="12">
        <use href="./img/icons/symbol-defs.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-content">

    </div>

   
    

    <button class="modal-btn"><span class="modal-btn-add">Add to shopping list</span>
      <span class="modal-btn-remove is-hidden">remove from the shopping list</span></button>
    <p class="modal-note is-hidden">Congratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
  </div>
</div>


