<div class="backdrop" id="js-backdrop">
  <div class="modal-window">
    <button class="modal-close-btn">
      <svg class="modal-close-icon" width="12" height="12">
        <use href="./images/btn-close.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content">
      <img
        class="modal-book-img"
        src="./images/book-test.jpg"
        alt="Book"
        width="287"
        height="408"
      />

      <div class="modal-book-descr">
        <h2 class="modal-book-title">Title book</h2>
        <h3 class="modal-book-author">Name of author</h3>
        <p class="modal-book-review">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          molestias laudantium quam eius ad hic placeat aliquid
        </p>
        <div class="modal-book-links"></div>
      </div>
    </div>

    <button class="modal-btn">
      <span class="modal-btn-add">Add to shopping list</span>
      <span class="modal-btn-remove is-hidden"
        >remove from the shopping list</span
      >
    </button>
    <p class="modal-note is-hidden">
      Congratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
