<h1 class="title">Shopping <span class="title-word">List</span></h1>

<div class="empty-shopping-list" id="emptyBox"></div>

<ul class="list" id="shoppingBox">
</ul>

<div class="" id="pagination"></div>


<!-- <ul class="list list-pagination">
    <li class="item-pagination">
        <a href="">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="item-pagination">
        <a href="">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="item-pagination">
        <a href="">
            <svg class="item-pagination-fist-page-icon" width="" height="">
                <use href="./img/icons/number-page-first.svg#icon-number-page-first"></use>
            </svg>
        </a>
    </li>
    <li class="item-pagination">
        <a href="">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="item-pagination">
        <a href="">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="item-pagination">
        <a href="">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="item-pagination">
        <a href="">
            <svg class="" width="" height="">
                <use href=""></use>
            </svg>
        </a>
    </li>
</ul> -->