<div class="support">
  <div class="funds-header">
    <h2 class="funds-header-text">Support Ukraine</h2>
    <svg class="funds-trident" width="20" height="32">
      <use href="./img/icons/symbol-defs.svg#icon-trident"></use>
    </svg>
  </div>
  <div class="funds-list-container">
    <ol class="funds-list list"></ol>
    <button class="funds-slider btn">
      <svg class="funds-slider-icon" width="20" height="20">
        <use href="./img/icons/symbol-defs.svg#icon-arrow-down-funds"></use>
      </svg>
    </button>
  </div>
</div>
