.main-title{
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}


.span-books{        
  color: #4F2EE8;
}
.books-list-top {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 40px;
  }
  
  .books-list-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 18px;
  }
  .category-top-books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }
  .category-top-books li {
    overflow: hidden;
    flex-basis: 335px;
  }
  
  .category-top-books .content {
    padding: 14px 0 0 0;
  }
  
  .books-list-img {
    border-radius: 8px;
    width: 100%;
    height: 485px;
  }
  
  .books-list-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
  
    padding-bottom: 4px;
  }
  
  .dark .books-list-name {
    color: #ffffff;
  }
  
  .books-list-text {
    font-style: italic;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.04em;
    color: #b4afaf;
  }
  
  .book-list-discription {
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .simplebar-scrollbar {
    opacity: 0.5;
    cursor: pointer;
  }
  
  .category-top-books .thumb {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }

  .top-btn-wrapper button {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--black-color);
    padding: 14px 28px;
    border: 2px solid #4f2ee8;
    border-radius: 40px;
    background-color: transparent;
    display: flex;
    margin-top: 32px;
    margin-left: auto;
    transition: all #3e2f2f;
  }
  
  .top-btn-wrapper button:hover,
  .top-btn-wrapper button:focus {
    color: #ffffff;
    background-color: #4f2ee8;
  }
 