.div-content {
    gap: 18px;
    padding: 0%;
   margin-left: 0%;
}
 /* text styles */
.title {
 font-family: DM Sans;
font-size: 48px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.04em;
text-align: left;
color: rgba(17, 17, 17, 1);
margin-left: 49px;
}
.title-span {
    color: rgba(79, 46, 232, 1);
}
.title-second {
font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: rgba(180, 175, 175, 1);
text-transform: uppercase;
margin-left: 49px;
}

.text{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(17, 17, 17, 1);    
}

.under-text{
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: left;
    color:rgba(180, 175, 175, 1) ;
}

/* list-images */
.link {
    list-style: none;
} 
.list-card {
    display: flex;
    gap: 24px;
}
.li-card {
    /* display: flex; */
    gap: 8px;
}
 .div-text {
    /* flex-direction: column; */
    /* display: flex; */
 }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    text-overflow: ellipsis;
  }

/* Button styles */
.btn {
 width: 124px;
height: 46px;
/* padding: 14px 28px 14px 28px; */
border-radius: 40px;
gap: 10px;
    border: 2px solid rgba(79, 46, 232, 1);
    margin-left: 910px;
}
.btn-text {
font-family: DM Sans;
font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: -0.01em;
color: rgba(17, 17, 17, 1);
text-transform: uppercase;
}