.main-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 48px;
  }
}

.category + .category {
  margin-top: 40px;
}

.category-title {
  margin-bottom: 18px;

  color: var(--secondary-txt-cl);
  font-family: DM Sans;
  line-height: 1.29;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .category-title {
    line-height: 1.71;
  }
}

.see-more-button {
  color: var(--light-theme-main-txt-cl);
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  background-color: var(--see-more-btn-cl);

  min-width: 46px;
  padding-top: 14px;
  padding-right: 28px;
  padding-bottom: 14px;
  padding-left: 28px;
  margin-top: 8px;
  margin-left: auto;

  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  transition: background-color var(--anim-active), color var(--anim-active);
}
.see-more-button:hover,
.see-more-button:focus {
  background-color: var(--fill-cl);
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .see-more-button {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .see-more-button {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .category.show-top .card-set-item:nth-last-child(-n + 4) {
    display: none;
  }
}

@media only screen and (max-width: 1439px) {
  .category.show-top .card-set-item:nth-last-child(-n + 2) {
    display: none;
  }
}
