.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  background-color: var(--header-cl);
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
}

@media only screen and (max-width: 320px) {
  .header {
    width: 320px;
  }
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .header-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 24px;
  height: 24px;
}

.header-logo-word {
  font-weight: 500;
  font-size: 18;
  color: var(--light-theme-main-txt-cl);
  text-transform: capitalize;
}

.header-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.nav-list-home {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  border: transparent;
  background-color: transparent;
  height: 34px;
  border-radius: 36px;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: var(--light-theme-main-txt-cl);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-home:hover,
.nav-list-home:focus {
  background-color: var(--dark-theme-accent-cl);
  color: var(--dark-theme-main-txt-cl);
}

.shopping-list-svg {
  fill: currentColor;
}
.nav-list-home.current {
  background-color: var(--dark-theme-accent-cl);
  font-weight: 700;
}

.header-menu-login {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4px 12px;

  min-width: 164px;
  height: 45px;
  border-radius: 36px;
  background-color: var(--btn-cl);
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -0.44px;
  cursor: pointer;
  border: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-login:hover,
.header-menu-login:focus {
  /* background-color: #ffffff; */
  color: var(--dark-theme-accent-cl);
}

@media only screen and (max-width: 767px) {
  .header-menu-login {
    display: none;
  }
}
.user-login {
  fill: currentColor;
}

.user-text {
  font-size: 22px;
  font-weight: 700;
  color: currentColor;
}

.header-theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.switcher {
  display: block;
  position: relative;
  width: 40px;
  height: 24px;
}

.block {
  display: none;
}

.switcher-input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switcher-slider {
  position: absolute;
  cursor: pointer;
  border-radius: 30px;
  left: 0;
  bottom: 8.33%;
  top: 8.33%;
  right: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
}

.switcher-slider::before {
  content: '';
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  left: 4%;
  top: 2px;
  bottom: 12.5%;
  right: 52.5%;

  height: 16px;
  width: 16px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
}
.dark .switcher-slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.switcher-input:checked + .switcher-slider::before {
  transform: translateX(21px);
}

.logo-container {
  cursor: pointer;
}

.header-switcher {
  display: flex;
  align-items: center;
}

.nav-list-link {
  text-decoration: none;
}

.header-burger {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header-burger {
    display: none;
  }
}

.header-burger {
  background-color: inherit;
  border: transparent;
  cursor: pointer;

  stroke: var(--light-theme-main-txt-cl);
}

.icon-burger {
  fill: currentColor;
}

.header-burger:hover {
  stroke: var(--fill-cl);
}

.header-burger .icon-burger-close {
  display: none;
}
.header-burger.is-open .icon-burger-close {
  display: block;
}
.header-burger.is-open .icon-burger-open {
  display: none;
}
