svg {
  width: 1em;
  height: 1em;
  position: relative;
}

.btn {
  color: #111;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  border-radius: 36px;
  background: #eac645;
  display: inline-flex;
  min-width: 74px;
  min-height: 34px;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  gap: 5px;
}
.btn-link {
  color: #fff;
  padding: 0;
  background: transparent;
  font-weight: 500;
}
.btn-link svg {
  width: 20px;
  height: 20px;
}

.header-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/header-mobile-bg.png),
      radial-gradient(
        189.32% 190.93% at 59.76% -23.42%,
        #4f2ee8 18.03%,
        #fff 100%
      );
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 84px 20px 380px;
    display: block;
    transition: 0.3s;
    transform: translateX(-100%);
  }
  .header-mobile.show {
    /* left: 0; */
    transform: translateX(0);
  }
  .header-mobile .header-mobile-nav {
    display: flex;
    width: 118px;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
  }
  .header-mobile .header-mobile-nav-li {
  }

  .header-mobile .user-info {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .header-mobile .user-info-img {
  }
  .header-mobile .user-info-login {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .header-mobile {
    background-position: 0 300px, 0 0;
  }
}

@media screen and (max-width: 480px) {
  .header-mobile {
    background-position: 50% 123%, 0 0;
    background-size: 480px, 100%;
  }
}
