.mobile-menu-nav-btn {
  padding-left: 0px;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    padding-left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-btn.current {
  color: #111;
  padding-left: 16px;
}
.mobile-menu-nav-btn.current {
  color: #111;
  padding-left: 16px;
}
.mobile-menu-nav-btn:hover,
.mobile-menu-nav-btn:focus {
  padding-left: 16px;
  background-color: var(--dark-theme-accent-cl);
  color: var(--dark-theme-main-txt-cl);
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/header-mobile-bg.png),
      radial-gradient(
        189.32% 190.93% at 59.76% -23.42%,
        #4f2ee8 18.03%,
        #fff 100%
      );
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 84px 20px 380px;
    display: block;
    transition: 0.3s;
    transform: translateX(-100%);
  }
  .mobile-menu.show {
    /* left: 0; */
    transform: translateX(0);
  }
  .mobile-menu .mobile-menu-nav {
    display: flex;
    width: 160px;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
  }
  .mobile-menu .mobile-menu-nav-li {
  }

  .mobile-menu .user-info {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .mobile-menu .user-info-img {
  }
  .mobile-menu .user-info-login {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }
  .mobile-menu .btn-link-shopping-list:hover {
    padding: 0 15px;
  }
}

@media screen and (max-width: 320px) {
  .mobile-menu {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    background-position: 0 100%, 0 0;
    background-size: 100%, 100%;
  }
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    background-position: 0 100%, 0 0;
    background-size: 100%, 100%;
  }
}

@media screen and (min-width: 375px) {
  .mobile-menu {
    background-image: url(../img/header-mobile-bg@2x.png),
      radial-gradient(
        189.32% 190.93% at 59.76% -23.42%,
        #4f2ee8 18.03%,
        #fff 100%
      );
  }
}
