.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(17, 17, 17, 0.4);
  transition: opacity var(--transition-property),
    visibility var(--transition-property);
}

.is-hidden {
  display: none;
}

.modal-window {
  width: 100%;
  background-color: var(--modal-bg-cl);
  border: 2px solid var(--modal-border-cl);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  padding: 40px 24px;
}

/* @media screen and (min-width: 768px) and (max-width:1157px) */
/* Desktop styles */

/* @media screen and (min-width: 1158px)  */

@media screen and (min-width: 335px) {
  .modal-window {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    width: 579px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 7px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--border-color);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-property),
    border var(--transition-property);
}

.modal-close-icon {
  stroke: var(--light-theme-main-txt-cl);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  stroke: var(--fill-cl);
}

.modal-content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
  .modal-content {
    flex-direction: row;
    gap: 24px;
  }
}

.modal-book-descr {
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .modal-book-img {
    width: 192px;
    height: 281px;
  }

  .modal-book-descr {
    margin-top: 0;
  }
}

.modal-book-title {
  font-size: 16px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.modal-book-author {
  color: var(--secondary-txt-cl);
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.48px;
}

.modal-book-review {
  font-family: DM Sans;
  margin-top: 18px;
  width: 287px;
  height: 70px;
  font-style: normal;
  overflow-y: hidden;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.modal-book-links {
  margin-top: 14px;
}

.modal-btn-add {
  background-color: var(--modal-bg-cl);
  min-width: 211px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 14px 23px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  color: var(--light-theme-main-txt-cl);
}

.modal-btn-add:hover,
.modal-btn-add:focus,
.modal-btn-add:active {
  background-color: var(--fill-cl);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .modal-book-title {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.96px;
  }

  .modal-book-author {
    font-size: 14px;
    font-style: italic;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }
  .modal-book-review {
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
  }

  .modal-btn-add {
    padding: 20px 0px;
    width: 499px;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.modal-book-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 0;
}

.modal-book-seller {
  filter: grayscale(100%);
}

.modal-book-link:hover .modal-book-seller {
  filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.dark .amazon {
  filter: brightness(0) invert();
}

.dark .amazon:hover {
  filter: brightness(0) invert() drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.modal-note {
  display: block;
  margin: 8px auto 0;
  width: 242px;
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
@media screen and (min-width: 768px) {
  .modal-note {
    width: 324px;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: -0.48px;
  }
}
