#scrollBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    padding: 0;
    background-color: rgba(79, 46, 232, 0.3);
    color: var(--dark-theme-main-txt-cl);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}
.core{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-cl);
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 50%;
}
.logo{
    width: 12px;
    fill: white;
    display: block;
  }