.side-bar {
  max-width: 307px;
  max-height: 228px;

  font-size: 16px;
  line-height: 112.5%;

  overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
  .side-bar {
    max-width: 309px;
    max-height: 472px;

    font-size: 17px;
	 line-height: 133.333%;
  }
}
@media only screen and (min-width: 1440px) {
  .side-bar {
    max-width: 328px;
	 font-size: 18px;

  }
}

.side-bar-title {
  margin-bottom: 24px;

  font-size: inherit;
  font-weight: 700;
  letter-spacing: -0.32px;
}

@media only screen and (min-width: 768px) {
	.side-bar-title  {
		margin-bottom: 32px;
  }
}

.side-bar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
	.side-bar-list {
		gap: 32px;
  }
}

.side-bar-btn {
  cursor: pointer;
  display: block;
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;

  color: var(--categories-txt-cl);
  font-weight: 400;
  letter-spacing: -0.32px;
}

.current-category{
	color: var(--light-theme-accent-cl);
	text-transform: uppercase;
}