.side-bar {
  max-height: 228px;

  font-size: 16px;
  line-height: 112.5%;

  overflow-y: scroll;
}

@media only screen and (max-width: 767px) {
  .side-bar {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .side-bar {
    width: 337px;
    max-height: 472px;

    line-height: 133.333%;
  }
}
@media only screen and (min-width: 1440px) {
  .side-bar {
    width: 356px;
  }
}

@media only screen and (min-width: 768px) {
  .side-bar-title {
    margin-bottom: 32px;
  }
}

.side-bar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .side-bar-list {
    gap: 32px;
  }
}

.side-bar-btn {
  cursor: pointer;
  display: block;
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
  min-height: 18px;

  color: var(--categories-txt-cl);
  font-weight: 400;
  letter-spacing: -0.32px;
  text-align: start;
  transition: color var(--anim-active);
}

.side-bar-btn:hover,
.side-bar-btn:focus {
  color: var(--categories-accent-cl);
}

.current-category {
  color: var(--categories-accent-cl);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  .current-category {
  }
}
